@model _2FA.Data.Entities.PayrollHeaderEntity

@{
    ViewData["Title"] = "Edit";
}

<div class="m-0 row justify-content-center">
    <div class="card col-md-10">
        <div class="card-header">
            <h1>Editar Nómina</h1>
        </div>
        <div class="card-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <a class="btn btn-primary" asp-action="Index"><i class="fa-solid fa-left-long"></i></a>
                    <input class="btn btn-primary" type="submit" value="Editar" class="btn btn-primary" />
                </div>

                <partial name="_PaymentHeader" />

            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
