@model _2FA.Data.Entities.ShiftEntity

@{
    ViewData["Title"] = "Create";
}

<div style="text-align: center;">
    <h2>Nuevo Turno</h2>
</div>

<div class="m-0 row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <card-header>
                <div class="p-3">
                </div>
            </card-header>
            <div class="card-body">
                <div class="row">
                    <div>
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="Created" />
                            <input type="hidden" asp-for="CreatedBy" />

                            <div class="form-group">
                                <a title="Regresar" class="btn-action" asp-action="Index"><i class="fa-solid fa-left-long"></i></a>
                                <button title="Guardar" class="btn-action" type="submit"><i class="fa-solid fa-floppy-disk"></i></button>
                            </div>
                            <br>

                            <partial name="_Shifts" />

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}