@model _2FA.Data.Entities.BankDepositStructureEntity

@{
    ViewData["Title"] = "Edit";
}

<div style="text-align: center;">
    <h2>Editar Estructura de Depósito Bancario</h2>
</div>

<div class="m-0 row justify-content-center">
    <div class="col-md-5">
        <div class="card">
            <card-header>
                <div class="p-3">
                </div>
            </card-header>
            <div class="card-body">
                <div class="row">
                    <div>
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <a title="Regresar" class="btn-action" asp-action="Index"><i class="fa-solid fa-left-long"></i></a>
                                <button title="Guardar" class="btn-action" type="submit"><i class="fa-solid fa-floppy-disk"></i></button>
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="StructureName" class="control-label"></label>
                                <input asp-for="StructureName" class="form-control" />
                                <span asp-validation-for="StructureName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BankDepositType" class="control-label"></label>
                                <select asp-for="BankDepositType" class="form-control" asp-items="ViewBag.BankDepositType"></select>
                                <span asp-validation-for="BankDepositType" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FileType" class="control-label"></label>
                                <select asp-for="FileType" class="form-control" asp-items="ViewBag.FileType"></select>
                                <span asp-validation-for="FileType" class="text-danger"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}