@model _2FA.Data.Entities.PayrollTmpHeaderEntity

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PayrollTmpHeaderEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PaymentGroupId" class="control-label"></label>
                <select asp-for="PaymentGroupId" class="form-control" asp-items="ViewBag.PaymentGroupId"></select>
                <span asp-validation-for="PaymentGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AbsensestDateStart" class="control-label"></label>
                <input asp-for="AbsensestDateStart" class="form-control" />
                <span asp-validation-for="AbsensestDateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AbsensestDateEnd" class="control-label"></label>
                <input asp-for="AbsensestDateEnd" class="form-control" />
                <span asp-validation-for="AbsensestDateEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtraTimeDateStart" class="control-label"></label>
                <input asp-for="ExtraTimeDateStart" class="form-control" />
                <span asp-validation-for="ExtraTimeDateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtraTimeDateEnd" class="control-label"></label>
                <input asp-for="ExtraTimeDateEnd" class="form-control" />
                <span asp-validation-for="ExtraTimeDateEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modified" class="control-label"></label>
                <input asp-for="Modified" class="form-control" />
                <span asp-validation-for="Modified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deleted" class="control-label"></label>
                <input asp-for="Deleted" class="form-control" />
                <span asp-validation-for="Deleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedBy" class="control-label"></label>
                <input asp-for="DeletedBy" class="form-control" />
                <span asp-validation-for="DeletedBy" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
