@model IEnumerable<_2FA.Data.Entities.PieceworkUnitTypeEntity>

@{
    ViewData["Title"] = "Unidades de Destajo";
}

<h1>Unidades de Destajo</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nueva Unidad</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Unidad</th>
            <th>Descripción</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td class="text-end">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger ms-2">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
